/* Estilos generales */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  width: 100%; /* Ajusta el ancho en pantallas pequeñas */
  padding: 20px;
}

.card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
}

.card-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-label {
  font-weight: 500;
  display: block; /* Para que el label se muestre en una línea separada */
  margin-bottom: 0.5rem; /* Espacio entre label e input */
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.8rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: block;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
